span.monster{
  display: inline-block;
}
.positionable , span.monster{
  width: 40px;
  height : 40px;
  background-repeat:no-repeat;
  background-size:contain;
}

.jira1, .jira2, .jira3, .linkedin, .facebook, .twitter, .share1, .share2 {
  width: 30px;
  height : 30px;
}
.noam, .hadas, .guy, .ticket, .royi, .mark2, .dmitry, .muhamad , .zakkai, .nizan, .nitzan, .essa{
  width: 50px;
  height : 50px;
}

.boaz, .ran, .gai, .alon, .tal, .eran, .boss{
  width: 80px;
  height : 80px;
}
.founders{
  width: 120px;
  height : 120px;
}



.zouro{
  background-image:url("../assets/zouro.png");
}
.ouno{
  background-image:url("../assets/ouno.png");
}
.douo{
  background-image:url("../assets/duo.png");
}
.trouo{
  background-image:url("../assets/trouo.png");
}
.jira1{
  background-image:url("../assets/jira1.png");
}
.jira2{
  background-image:url("../assets/jira2.png");
}
.jira3{
  background-image:url("../assets/jira3.png");
}
.honey1{
  background-image:url("../assets/honey1.png");
}
.honey2{
  background-image:url("../assets/honey2.png");
}
.honey3{
  background-image:url("../assets/honey3.png");
}
.honey4{
  background-image:url("../assets/honey4.png");
}
.critical{
  background-image:url("../assets/critical.svg");
}
.major{
  background-image:url("../assets/major.svg");
}
.minor{
  background-image:url("../assets/minor.svg");
}
.trivial{
  background-image:url("../assets/trivial.svg");
}
.mark2{
  background-image:url("../assets/mark2.png");
}
.zakkai{
  background-image:url("../assets/zakkai.png");
}
.dmitry{
   background-image:url("../assets/dmitry.png");
 }
.meital{
  background-image:url("../assets/meital.png");
}
.royi{
  background-image:url("../assets/royi.png");
}
.max{
  background-image:url("../assets/max.png");
}
.dalit{
  background-image:url("../assets/dalit.png");
}
.nitzan{
  background-image:url("../assets/nitzan.png");
}
.guy{
  background-image:url("../assets/guy.png");
}
.hadas{
  background-image:url("../assets/hadas.png");
}

.essa{
  background-image:url("../assets/essa.png");
}
.devil1{
  background-image:url("../assets/devil1.png");
}
.devil2{
  background-image:url("../assets/devil2.png");
}
.devil3{
  background-image:url("../assets/devil3.png");
}
.noam{
  background-image:url("../assets/noam.png");
}
.hopper{
  background-image:url("../assets/hopper.png");
}
.hopper{
  background-image:url("../assets/hopper.png");
}
.bunny1{
  background-image:url("../assets/bunny1.png");
}
.bunny2{
  background-image:url("../assets/bunny2.png");
}
.email{
  background-image:url("../assets/email.png");
}
.facebook{
  background-image:url("../assets/facebook.png");
}
.twitter{
  background-image:url("../assets/twitter.png");
}
.linkedin{
  background-image:url("../assets/linkedin.png");
}
.ada{
  background-image:url("../assets/ada.png");
}
.molev{
  background-image:url("../assets/molev.png");
}
.email{
  background-image:url("../assets/email.png");
}
.share1{
  background-image:url("../assets/share1.png");
}
.share2{
  background-image:url("../assets/share2.png");
}
.ticket{
  background-image:url("../assets/ticket.png");
}
.like{
   background-image:url("../assets/like.png");
 }
.muhamad{
  background-image:url("../assets/muhamad.png");
}
.liron{
  background-image:url("../assets/liron.png");
}
.boaz{
  background-image:url("../assets/boaz.png");
}
.alex{
  background-image:url("../assets/alex.png");
}

.alon{
  background-image:url("../assets/alon.png");
}
.amir{
  background-image:url("../assets/amir.png");
}
.sharon{
  background-image:url("../assets/sharon.png");
}
.daniel{
  background-image:url("../assets/daniel.png");
}
.eran{
  background-image:url("../assets/eran.png");
}
.gai{
  background-image:url("../assets/gai.png");
}
.ran{
  background-image:url("../assets/ran.png");
}
.tal{
  background-image:url("../assets/tal.png");
}
.mel{
  background-image:url("../assets/mel.png");
}
.zachi{
  background-image:url("../assets/zachi.png");
}
.founders{
  background-image:url("../assets/founders.png");
}
.nizan{
  background-image:url("../assets/nizan.png");
}
//.gilad{
//  background-image:url("../assets/gilad.png");
//}
