span.monster{
  display: inline-block;
}
.positionable , span.monster{
  width: 30px;
  height : 30px;
  background-repeat:no-repeat;
  background-size:contain;
}

.bee1, .bee2, .bee3, .honey2, .honey3 {
  width: 40px;
  height : 40px;
}


.zouro{
  background-image:url("../assets/zouro.png");
}
.ouno{
  background-image:url("../assets/ouno.png");
}
.douo{
  background-image:url("../assets/duo.png");
}
.trouo{
  background-image:url("../assets/trouo.png");
}
.jira1{
  background-image:url("../assets/jira1.png");
}
.jira2{
  background-image:url("../assets/jira2.png");
}
.jira3{
  background-image:url("../assets/jira3.png");
}
.honey1{
  background-image:url("../assets/honey1.png");
}
.honey2{
  background-image:url("../assets/honey2.png");
}
.honey3{
  background-image:url("../assets/honey3.png");
}
.honey4{
  background-image:url("../assets/honey4.png");
}