span.monster{
  display: inline-block;
}
.positionable , span.monster{
  width: 40px;
  height : 40px;
  background-repeat:no-repeat;
  background-size:contain;
}

.jira1, .jira2, .jira3 {
  width: 30px;
  height : 30px;
}
.noam, .hadas {
  width: 50px;
  height : 50px;
}


.zouro{
  background-image:url("../assets/zouro.png");
}
.ouno{
  background-image:url("../assets/ouno.png");
}
.douo{
  background-image:url("../assets/duo.png");
}
.trouo{
  background-image:url("../assets/trouo.png");
}
.jira1{
  background-image:url("../assets/jira1.png");
}
.jira2{
  background-image:url("../assets/jira2.png");
}
.jira3{
  background-image:url("../assets/jira3.png");
}
.honey1{
  background-image:url("../assets/honey1.png");
}
.honey2{
  background-image:url("../assets/honey2.png");
}
.honey3{
  background-image:url("../assets/honey3.png");
}
.honey4{
  background-image:url("../assets/honey4.png");
}
.critical{
  background-image:url("../assets/critical.svg");
}
.major{
  background-image:url("../assets/major.svg");
}
.minor{
  background-image:url("../assets/minor.svg");
}
.trivial{
  background-image:url("../assets/trivial.svg");
}
.mark{
  background-image:url("../assets/mark.png");
}
.zakkai{
  background-image:url("../assets/zakkai.png");
}
.dima{
   background-image:url("../assets/dima.png");
 }
.meital{
  background-image:url("../assets/meital.png");
}
.royi{
  background-image:url("../assets/royi.png");
}
.max{
  background-image:url("../assets/max.png");
}
.dalit{
  background-image:url("../assets/dalit.png");
}
.nitzan{
  background-image:url("../assets/nitzan.png");
}
.guy{
  background-image:url("../assets/guy.png");
}
.hadas{
  background-image:url("../assets/hadas.png");
}

.essa{
  background-image:url("../assets/essa.png");
}
.devil1{
  background-image:url("../assets/devil1.png");
}
.devil2{
  background-image:url("../assets/devil2.png");
}
.devil3{
  background-image:url("../assets/devil3.png");
}
.noam{
  background-image:url("../assets/noam.png");
}
.devil3{
  background-image:url("../assets/devil3.png");
}